#contact-img {
  width: 256px;
  height: 452px;
}

blockquote {
	text-align: left;
	font-style: italic;
}

.reference {

}

iframe {
	margin-bottom: 33px;
	margin-top: 17px;
}

.house-image{
    width: 300px;
    height: 200px !important;
}

h3 {
    font-size: 22px;
}

.phone-number {
	text-align: center;
	margin-top: 20px;
	font-size: 30px;
}

.contact-info strong {
	font-size: 15px;
}